# .gitignore

# Dependency directories
node_modules/
dist/

# Build output
.vite/

# System files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
